body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #26cfcf;
}

.body_section {
  background-color: #ceebeb;
  height: 500px;
  width: 500px;
  border-radius: 20px 0px 20px 0px;
  flex-direction: column;
}
h1 {
  padding: 20px;
  font-size: 50px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}
.input_form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: grid;
  width: 100%;
  justify-content: space-around;
}
label {
  font-size: medium;
  font-weight: bold;
}

.email_lab {
  padding-bottom: 10px;
}
.imp_input {
  width: 20rem;
  height: 1.2rem;
  border-radius: 10px 0px 10px 0px;
  margin-top: 10px;
  background-color: white;
  color: black;
}

.checkbox_lab {
  padding-top: 10px;
}
.forg_link {
  color: black;
  text-decoration: none;
}

.chec_link {
  display: flex;
  justify-content: space-between;
}

button {
  height: 2rem;
  margin-top: 30px;
  background-color: #ceebeb;
  border-radius: 20px 0px 20px 0px;
}
button:hover {
  background-color: #26cfcf;
  cursor: pointer;
  font-weight: bold;
}
